body {
    background-color: #bfffef;
}

hr {
    border-color: #36C2CE;
}

p {
    margin: 0%;
    width: fit-content;
}

ol {
    padding-left: 20px;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.logoImg {
    height: 70px;
    float: right;
}

.mapImg {
    width: 60vw;
}

.sectionHeader {
    margin-top: 0%;
    margin-bottom: 1%;
    color: #4535C1;
}

.title {
    text-align: center;
    margin-bottom: 0px;
}

.subTitle {
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    margin-top: 0px;
}

.endMessage {
    text-align: center;
    font-size: 2em;
}

.responseMessage {
    width: auto;
    color: black;
    margin: 10px;
}

.highLowDiv {
    text-align: center;
}

.victory {
    font-size: xx-large;
}

.firstTryImage {
    width: 60vw;
}

.invisible {
    display: none;
}

@media (max-width: 800px) {
    .container {
        margin-left: 0%;
        margin-right: 0%;
    }

    .mapImg {
        width: 50vw;
        margin-left: 25%;
        margin-right: 25%;
    }

    .firstTryImage {
        width: 50vw;
        margin-left: 25%;
        margin-right: 25%;
    }
}